APP_NAME=ProductCatalog
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost

DB_CONNECTION=pgsql
DB_HOST=database
DB_PORT=5432
DB_DATABASE=product_catalog
DB_USERNAME=admin
DB_PASSWORD=Admin123

SANCTUM_STATEFUL_DOMAINS=localhost
SESSION_DOMAIN=localhost
SESSION_DRIVER=cookie
